html, body {
  margin: 0;
  padding: 0;
  background: white;
}

.body-bg {
  background: #DEDEDE;
}

a {
  text-decoration: none;
}

h2, p, a {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

.body-wrapper {
  width: 970px;
  margin: auto;
  box-shadow: 10px 0 20px #C6C6C6,  -10px 0 20px #C6C6C6;
  background: white;
}

/* Top and Title */
.socialrow-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.socialrow {
  width: 970px;
  height: auto;
  background: transparent;
  margin: auto;
  border-bottom: 1px solid black;
}

.socialrow ul {
  display: inline;
  padding: 0;
}

.socialrow li{
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}

.socialrow img {
  height: 18px;
}

.social-icons {
    float: right;
    margin: 0;
}

.title-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
}

.title {
  width: 970px;
  height: 150px;
  margin: auto;
}

.title h1 {
  position: absolute;
  top: 5px;
  font-size: 50px;
  color: #169fe6;
  margin-left: 10px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

.title h2 {
  position: absolute;
  top: 60%;
  margin: 3px 0 0 10px;
  color: #888896;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}


.search-wrapper {
  position: relative;
  float: right;
  margin-right: 10px;
  top: 41%;
}

/* Navigation */

.nav-wrapper {
  width: 100%;
}

.sitenav {
  width: 970px;
  margin: auto;
  position:relative;
  z-index: 1;
}

.sitenav ul {
  list-style-type: none;
  display: table;
  width: 970px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

 .sitenav li{
  display: table-cell;
  text-align: center;
  border: 1px solid #169FE6;
  padding: 10px 0 10px 0;
  background: black;
}

.sitenav a {
  display:block;
  width: 100%;
  color: white;
}

.sitenav li:hover {
  background-color: #169FE6;
}


 .dropdown {
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 228px;
  margin-top: 10px;
  border: 1px solid #169FE6;
}

.dropcontent a {
  color: white;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropcontent a:hover {
  background-color: #169FE6;
}

.dropdown:hover .dropcontent {
  display:block;
}


/* Jumbotron */

.jumbo-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
}

.jumbopic {
  width: 970px;
  height: 450px;
  margin: auto;
}

.jumbopic img {
  width: 970px;
  height: 450px;
}

/* Info Board */

.info-wrapper {
  position: absolute;
  height: 400px;
  width: auto;
  display: inline-block;
}

.info-boxes {
  width: auto;
  position: relative;
  text-align: center;
}

.box {
  width: 280px;
  display: inline-block;
  text-align: center;
}

.bx {
  width: 30px;
}

/* Sidebar */

.sidebar {
  float: right;
  position: relative;
  height: 500px;
  width: 41%;
  text-align: center;
}
